---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'News';
const description = 'News about Adam Smith.';
const permalink = `${Astro.site.href}news`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="news">
  <div class="container">
    <h1>News</h1>
    <p>
      This section will regularly be updated with news about my music.
    </p>
    <p>
      Crisis - Demo is out now on all major music platforms! (go listen through the link in the music section.)
    </p>
    <p>
      Big news on album coming very soon!
    </p>
    <p>
      Stay tuned for more updates.
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
